<div class="container">
  <div class="vm-item-container">
    <div class="card">
      <div class="title">VM1 - Configurations</div>
      <p>Framework Heap: 128 MB</p>
      <p>Managed Memory: 512 MB</p>
      <p>Network: 128 MB</p>
      <p>JVM Overhead: 192 MB</p>
    </div>
  </div>
  <div class="vm-item-container">
    <div class="card">
      <div class="title">VM2 - Configurations</div>
      <p>Framework Heap: 128 MB</p>
      <p>Managed Memory: 512 MB</p>
      <p>Network: 128 MB</p>
      <p>JVM Overhead: 192 MB</p>
    </div>
  </div>
</div>
